/*Styles for the main nav */
.main-nav .menu-item {
	@apply relative;
}

.main-nav {
	@apply flex items-center h-full gap-8 min-w-[580px];
}

.main-nav ul {
	@apply flex;
}

.main-nav li {
	@apply btn_m !my-auto;
}

.main-nav .sub-menu > .menu-item > a,
.main-nav > .menu-item {
	@apply relative after:content-[''] after:absolute after:bottom-[-4px] after:h-[1px] after:w-0 after:bg-black after:transition-all disabled:opacity-50 focus:outline-none inline-flex items-center hover:text-cherry;
}
.main-nav .sub-menu > .menu-item > a {
	@apply after:bottom-[1px] hover:text-black;
}
.main-nav > .menu-item:hover svg {
	@apply rotate-180;
}
.main-nav > .menu-item:hover svg path {
	@apply fill-cherry;
}
.main-nav .sub-menu > .menu-item > a:hover::after,
.main-nav > .menu-item:hover::after {
	@apply w-full;
}

.main-nav .sub-menu:not(.child) {
	@apply absolute block right-1/2 translate-x-1/2 z-10 invisible opacity-0 w-max max-w-[205px] p-[22px] rounded-[14px] mt-0 bg-salt top-5 transition-all duration-500 text-black;
}

.main-nav .back,
.main-nav .parent-title {
	display: none;
}

/* Show submenus when hovering over the parent menu item */
.main-nav .menu-item:hover > .sub-menu {
	@apply visible transition-all duration-1000 opacity-100;
}

.main-nav .menu-item > .sub-menu:not(.child) > li:not(:last-of-type) {
	@apply !mb-8;
}
.main-nav .menu-item > .sub-menu:not(.child) > li {
	@apply gap-[14px];
}
.main-nav .menu-item > .sub-menu:not(.child) > .menu-item {
	@apply flex flex-col items-start;
}

.main-nav .menu-item .sub-menu:not(.child) > .menu-item > .menu-item-link {
	@apply n2;
}
.main-nav
	.menu-item
	.sub-menu:not(.child)
	> .menu-item
	> .sub-menu.child
	.menu-item-link {
	@apply n3;
}
/*
	.main-nav .menu-item:hover > .sub-menu > li:hover > a {
	@apply pl-1 transition-all duration-300 ease-in-out opacity-80;
} */

.main-nav li:last-of-type .sub-menu {
	@apply right-0 left-auto;
}

.main-nav .menu-item > .sub-menu .sub-menu.child {
	@apply flex flex-col gap-[14px];
}

.main-nav li:last-of-type .menu-item:hover .sub-menu {
	@apply mr-20;
}

/******************************************************
 * Mobile Menu
 ******************************************************/

#menu-toggle:checked + #mobile-menu-button + #mobile-menu {
	height: 90dvh;
	max-height: 100dvh;
	overflow-y: auto; /* Add a vertical scrollbar if necessary */
	opacity: 1;
	scrollbar-gutter: stable; /* Save space for the scrollbar */
}

.hamburger-icon .bar {
	display: block;
	width: 30px;
	height: 3px;
	margin: 4px 0;
	background-color: #000;
	transition: transform 0.3s ease-in-out;
}

#mobile-menu-button {
	display: inline-block;
	cursor: pointer;
}

#menu-toggle {
	display: none;
}

#menu-toggle:checked + #mobile-menu-button .hamburger-icon .bar:nth-child(1) {
	transform: rotate(-45deg) translate(-4px, 5px);
}

#menu-toggle:checked + #mobile-menu-button .hamburger-icon .bar:nth-child(2) {
	opacity: 0;
}

#menu-toggle:checked + #mobile-menu-button .hamburger-icon .bar:nth-child(3) {
	transform: rotate(45deg) translate(0px, -2px);
}

#menu-toggle:checked + #mobile-menu-button .hamburger-icon .bar + .bar {
	width: 30px;
	margin-top: -3px;
}

.mobile-menu {
	@apply w-full;
}

.main-nav-mobile {
	@apply flex flex-col justify-center items-center gap-[46px];
}

.main-nav-mobile .menu-item {
	@apply w-full text-center n1;
}
.main-nav-mobile .menu-item .sub-menu > .menu-item {
	@apply n2 text-start;
}
.main-nav-mobile .menu-item .sub-menu.child > .menu-item {
	@apply n3;
}
.main-nav-mobile .menu-item .sub-menu {
	@apply flex flex-col gap-8;
}
.main-nav-mobile .menu-item .sub-menu.child {
	@apply gap-4 mt-4;
}

/* .mobile-menu .main-nav-mobile > .menu-item.menu-item-has-children > a:after {
	content: " >";
	float: right;
	font-weight: normal;
	margin-left: 8px;
} */

.mobile-menu .mobile-arrow {
	@apply transition-transform duration-300;
}

.mobile-menu .sub-menu:not(.child) {
	@apply mx-auto w-[calc(100%-32px)] overflow-hidden max-h-0 bg-salt rounded-[14px];
	transition: all 0.3s ease-in-out;
}
.opened {
	@apply !max-h-[500px] p-[22px] mt-3; /* Set a specific max-height value for animation */
	transition: all 0.3s ease-in-out;
}

/* Hide the scrollbar on desktop for elements with the class .submenu */
/* For Webkit-based browsers (Chrome, Safari) */
.sub-menu::-webkit-scrollbar {
	width: 0.5em;
	background: transparent; /* You can use 'background: #fff;' to match the background color */
}

.sub-menu::-webkit-scrollbar-thumb {
	background: transparent; /* You can use 'background: #fff;' to match the background color */
}

/* For Firefox */
.sub-menu * {
	scrollbar-width: thin;
	scrollbar-color: transparent transparent; /* You can use 'scrollbar-color: #fff transparent;' to match the background color */
}
/* end mobile menu */
