/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/

body {
	@apply bg-background text-foreground;
}

.c-container {
	@apply mx-auto px-4 md:px-5 lg:px-20 max-w-[1690px];
}

.c-container__sm {
	@apply mx-auto px-4 md:px-5 lg:px-20 max-w-[1440px];
}


.wordpress-pages-container>*:not(div):not(article):not(section) {
	@apply max-w-[73rem] px-8;
}

.wordpress-pages-container>.custom-container {
	@apply block max-w-[73rem] my-6;
}

.wordpress-pages-container>ul,
.wordpress-pages-container>ol {
	@apply px-14 !important;
}

/* apply mb-6 to all h1,h2,h3,h4,h5,h6 inside .wordpress-pages */
.wordpress-pages-container>h1,
.wordpress-pages-container>h2,
.wordpress-pages-container>h3 {
	@apply mb-4 !important;
}

.wordpress-pages-container>h4,
.wordpress-pages-container>h5,
.wordpress-pages-container>h6 {
	@apply mb-2 !important;
}

.wordpress-pages-container>p,
#main .post.type-post .entry-content>p {
	@apply mb-6 !important;
}

/* Blogs styles */
#main .post.type-post .entry-content {
	@apply max-w-[73rem] px-8;
}

/* #main .post.type-post .entry-content > ul,
#main .post.type-post .entry-content > ol {
	@apply ml-8;
} */
#main .post.type-post .entry-content>figure {
	@apply mb-8;
}

#main .post.type-post .entry-content p a {
	@apply underline;
}

/* HEADINGS */
.c-container h1,
.c-container h2,
.c-container h3,
.c-container h4,
.c-container h5,
.c-container h6,
.c-container__sm h1,
.c-container__sm h2,
.c-container__sm h3,
.c-container__sm h4,
.c-container__sm h5,
.c-container__sm h6 {
  /* Sin estilos */
}

h1:not(.c-container h1):not(.c-container__sm h1),
h2:not(.c-container h2):not(.c-container__sm h2),
h3:not(.c-container h3):not(.c-container__sm h3),
h4:not(.c-container h4):not(.c-container__sm h4),
h5:not(.c-container h5):not(.c-container__sm h5),
h6:not(.c-container h6):not(.c-container__sm h6) {
  @apply !mb-4 scroll-mt-[80px] md:scroll-mt-[110px];
}


#main article ol {
	padding-left: 2rem;
	@apply pl-8 mx-auto mb-8 list-decimal list-outside;
}

#main article ul {
	padding-left: 2rem;
	@apply pl-8 mx-auto mb-8 list-disc list-outside;
}

#main article li {
	@apply leading-[140%] tracking-[0%] text-xl lg:text-2xl font-medium;
}

#main .wordpress-pages-container a {
	@apply underline;
}

h1, .h1 {
	@apply text-[50px] leading-none tracking-2 font-extrabold font-syne;
}

h3, .h3 {
	@apply text-[24px] font-extrabold tracking-2 leading-none font-syne;
}

h5, .h5 {
	@apply text-[18px] font-bold tracking-normal leading-[26px] font-syne;
}