/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-foreground font-sans;
}

.c-container {
	@apply md:px-16 mx-auto max-w-desk wide:max-w-wide-desk;
}

a:hover {
	@apply text-custom-secondary;
}

.wordpress-pages-container > *:not(div):not(article):not(section) {
	@apply max-w-[73rem] px-8;
}
.wordpress-pages-container > .custom-container {
	@apply block max-w-[73rem] my-6;
}
.wordpress-pages-container > ul,
.wordpress-pages-container > ol {
	@apply px-14 !important;
}

/* apply mb-6 to all h1,h2,h3,h4,h5,h6 inside .wordpress-pages */
.wordpress-pages-container > h1,
.wordpress-pages-container > h2,
.wordpress-pages-container > h3 {
	@apply mb-4 !important;
}
.wordpress-pages-container > h4,
.wordpress-pages-container > h5,
.wordpress-pages-container > h6 {
	@apply mb-2 !important;
}
.wordpress-pages-container > p,
#main .post.type-post .entry-content > p {
	@apply mb-6 !important;
}

/* Blogs styles */
#main .post.type-post .entry-content {
	@apply max-w-[73rem] px-8;
}
/* #main .post.type-post .entry-content > ul,
#main .post.type-post .entry-content > ol {
	@apply ml-8;
} */
#main .post.type-post .entry-content > figure {
	@apply mb-8;
}
#main .post.type-post .entry-content p a {
	@apply underline;
}

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold !mb-4 scroll-mt-[80px] md:scroll-mt-[110px];
	@apply leading-[1.2];
}
h1,
.h1 {
	@apply leading-[1.2] text-4xl lg:text-[3rem];
}
h2,
.h2 {
	@apply text-[2rem] lg:text-4xl;
}
h3,
.h3 {
	@apply text-3xl lg:text-[2rem];
}
h4,
.h4 {
	@apply text-2xl lg:text-3xl;
}
h5,
.h5,
h6,
.h6 {
	@apply text-xl lg:text-2xl;
}

.body,
p {
	@apply text-lg lg:text-xl leading-[150%];
	@apply font-light my-4;
}
#main article ol {
	padding-left: 2rem;
	@apply list-outside list-decimal mb-8 mx-auto pl-8;
}
#main article ul {
	padding-left: 2rem;
	@apply list-outside list-disc mb-8 mx-auto pl-8;
}
#main article li {
	@apply text-lg lg:text-xl leading-[150%];
	@apply font-light;
}
strong {
	@apply font-bold;
}
#main .wordpress-pages-container a {
	@apply underline;
}
