/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-foreground font-pp-mori;
}

.c-container {
	@apply mx-auto px-4 md:px-5 lg:px-10 max-w-[1690px];
}

.c-container__sm {
	@apply mx-auto px-4 md:px-5 lg:px-[84px] max-w-[1690px];
}


.wordpress-pages-container>*:not(div):not(article):not(section) {
	@apply max-w-[73rem] px-8;
}

.wordpress-pages-container>.custom-container {
	@apply block max-w-[73rem] my-6;
}

.wordpress-pages-container>ul,
.wordpress-pages-container>ol {
	@apply px-14 !important;
}

/* apply mb-6 to all h1,h2,h3,h4,h5,h6 inside .wordpress-pages */
.wordpress-pages-container>h1,
.wordpress-pages-container>h2,
.wordpress-pages-container>h3 {
	@apply mb-4 !important;
}

.wordpress-pages-container>h4,
.wordpress-pages-container>h5,
.wordpress-pages-container>h6 {
	@apply mb-2 !important;
}

.wordpress-pages-container>p,
#main .post.type-post .entry-content>p {
	@apply mb-6 !important;
}

/* Blogs styles */
#main .post.type-post .entry-content {
	@apply max-w-[73rem] px-8;
}

/* #main .post.type-post .entry-content > ul,
#main .post.type-post .entry-content > ol {
	@apply ml-8;
} */
#main .post.type-post .entry-content>figure {
	@apply mb-8;
}

#main .post.type-post .entry-content p a {
	@apply underline;
}

/* HEADINGS */
.c-container h1,
.c-container h2,
.c-container h3,
.c-container h4,
.c-container h5,
.c-container h6,
.c-container__sm h1,
.c-container__sm h2,
.c-container__sm h3,
.c-container__sm h4,
.c-container__sm h5,
.c-container__sm h6 {
  /* Sin estilos */
}

h1:not(.c-container h1):not(.c-container__sm h1),
h2:not(.c-container h2):not(.c-container__sm h2),
h3:not(.c-container h3):not(.c-container__sm h3),
h4:not(.c-container h4):not(.c-container__sm h4),
h5:not(.c-container h5):not(.c-container__sm h5),
h6:not(.c-container h6):not(.c-container__sm h6) {
  @apply !mb-4 bg-red-200 scroll-mt-[80px] md:scroll-mt-[110px];
  @apply text-black;
}

h1,
.h1 {
	@apply leading-[100%] tracking-[-0.05em] text-[55px] lg:text-[92px] font-pp-mori font-normal;
}

h2,
.h2 {
	@apply leading-[110%] tracking-[-0.05em] text-[44px] font-semibold font-pp-mori lg:text-[50px];
}

h3,
.h3 {
	@apply leading-[110%] tracking-[0%] text-[40px] font-light font-manrope lg:text-[46px];
}

h4,
.h4 {
	@apply leading-[110%] tracking-[0%] text-[32px] font-semibold font-manrope lg:text-[40px];
}

h5,
.h5 {
	@apply leading-[120%] tracking-[0%] text-[26px] font-medium font-manrope lg:text-[32px];
}

h6,
.h6 {
	@apply leading-[120%] tracking-[0%] text-[22px] font-semibold font-manrope lg:text-[26px];
}

/* SubTitles */
.subtitle1 {
	@apply leading-[100%] tracking-[0%] font-semibold text-lg lg:text-xl;
}

.subtitle2 {
	@apply leading-[100%] tracking-[0%] font-semibold font-manrope text-base;
}

.subtitle3 {
	@apply leading-[100%] tracking-[0%] font-normal font-manrope text-sm;
}

/* Body text */
.body1 {
	@apply leading-[140%] tracking-[0%] text-xl lg:text-2xl font-medium font-manrope;
}

.body2 {
	@apply leading-[140%] tracking-[0%] text-lg lg:text-xl font-normal font-manrope;
}

.body3 {
	@apply leading-[140%] tracking-[0%] text-base lg:text-lg font-normal font-manrope;
}

.body4 {
	@apply leading-[140%] tracking-[0%] text-sm lg:text-base font-normal font-manrope;
}

.body5 {
	@apply leading-[140%] tracking-[0%] text-xs font-normal font-pp-mori;
}

p,
span {
	@apply leading-[140%] tracking-[0%] text-xl lg:text-2xl font-medium font-manrope;
	@apply my-4;
}

/* Navigation links */
.n1 {
	@apply leading-[100%] tracking-[0%] text-2xl font-semibold font-pp-mori;
}

.n2 {
	@apply leading-[100%] tracking-[0%] text-lg font-semibold font-pp-mori;
}

.n3 {
	@apply leading-[100%] tracking-[0%] text-base font-normal font-pp-mori;
}

/* Button text style */
.btn_m,
.btn_m span {
	@apply leading-[100%] tracking-[0%] text-sm font-semibold font-pp-mori m-0 mt-auto cursor-pointer;
}

.btn_l,
.btn_l span {
	@apply leading-[100%] tracking-[0%] text-lg font-semibold font-pp-mori m-0 mt-auto cursor-pointer;
}

/* Tags */
.tag__primary {
	@apply btn_m text-white bg-cherry hover:bg-yam disabled:bg-sashimi !px-5 py-[11px] rounded-full transition-all;
}

.tag__secondary {
	@apply btn_m text-cherry bg-white border border-cherry hover:bg-cherry hover:text-white disabled:bg-sashimi !px-5 py-[11px] rounded-md transition-all;
}


#main article ol {
	padding-left: 2rem;
	@apply pl-8 mx-auto mb-8 list-decimal list-outside;
}

#main article ul {
	padding-left: 2rem;
	@apply pl-8 mx-auto mb-8 list-disc list-outside;
}

#main article li {
	@apply leading-[140%] tracking-[0%] text-xl lg:text-2xl font-medium;
}

strong {
	@apply font-bold;
}

#main .wordpress-pages-container a {
	@apply underline;
}