/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind's `base` layer.
 */

/* Cook Gothif Font */
@font-face {
	font-family: 'Cook Gothif';
	font-style: normal;
	font-weight: normal;
	src: url('./cook_gothif/CookGothif.woff2') format('woff2'),
		url('./cook_gothif/CookGothif.woff') format('woff');
	font-display: swap;
}

/* Work Sans Variable Font */
@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 100 900;
	src: url('./work_sans/WorkSans-VariableFont_wght.ttf') format('truetype');
	font-display: swap;
}

/* Work Sans Italic Variable Font */
@font-face {
	font-family: 'Work Sans';
	font-style: italic;
	font-weight: 100 900;
	src: url('./work_sans/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
	font-display: swap;
}

/* Add Teko */
@font-face {
	font-family: 'Teko';
	font-style: normal;
	font-weight: 100 900;
	src: url('./teko/Teko-VariableFont_wght.ttf') format('woff');
	font-display: swap;
}

* {
	font-variant-ligatures: none;
  }