/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */

/* Syne Variable Font */
@font-face {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 100 900;
	src: url('./syne/Syne-VariableFont_wght.ttf') format('truetype'); 
	font-display: swap;
  }

/* Add Heebo */
@font-face {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 100;
	src: url('./heebo/Heebo-VariableFont_wght.ttf') format('woff');
	font-display: swap;
}

/* Add Teko */
@font-face {
	font-family: 'Teko';
	font-style: normal;
	font-weight: 100;
	src: url('./teko/Teko-VariableFont_wght.ttf') format('woff');
	font-display: swap;
}